<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
 </head>

  <body>
  <div id="container">
  <header>
    <div id="bar">
      <ul>
        <li><a href="register">Register</a></li>
        <li><a href="sign_in">Sign In</a></li>
        <li><a href="sign_out">Sign Out</a></li>
    </div>
  </header>
  
    <div id="leftside">
      <div id="box1">
      </div>
      <div id="box2">
      </div>
      <div id="box3">
      </div>
      <div id="box4">
      </div>
      <div id="box5">
      </div>
    </div>
    

    <div id="rightside">
      <div id="box6">
      </div>
      <div id="box7">
      </div>
      <div id="box8">
      </div>
      <div id="box9">
      </div>
      <div id="box10">
      </div>
    </div>
  </div>  




  </body>

  

</html>