<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
 </head>

  <body>
  <div id="container">
  <header>
    <div id="bar">
     
    </div>
  </header>

   
 
  
    <div id="leftside">

      <div id="leftside-up">

        <h2>Sign In</h2>
        <form method="POST" action="/signin">

        <input type='text' name="[post]user_name" placeholder="Username" id="email"> 
        <hr>
        <input type='password' name="[post]password" placeholder="Password" id="password">
        <input type='submit' id="submit">
        </form>
        </div>

      <div id="leftside-down"> 
      <h6><em>not a member?</em></h6> 
        <h2>Register</h2>
        <form method="POST" action="/login">
        <input type='submit' placeholder="click here" id="submit">
        </form>
        
      </div>
    </div>
    

    <div id="rightside">
      <div id="box6">
      </div>
      <div id="box7">
      </div>
      <div id="box8">
      </div>
      <div id="box9">
      </div>
      <div id="box10">
      </div>
    </div>
  </div>  




  </body>

  

</html>