<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
 </head>

  <body>
  <div id="container">
  <header>
    <div id="bar">
      <ul>
        <li><a href="sign_up">Sign Up</a></li>
        <li><a href="sign_in">Sign In</a></li>
        <li><a href="sign_out">Sign Out</a></li>
    </div>
  </header>
  
    <div id="leftside">
      xx
    </div>
    

    <div id="rightside">
    </div>
  </div>  




  </body>

  

</html>