<!DOCTYPE html>
<html>
<head>
 <title><%= @title || "My site" %> </title>

 <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body class=<%= @current_page %>>


 <%= yield %>

</body>

  

</html>