<form method="POST" action="/signin">
	<input type="text" name="[post]user_name" placeholder="Username"><br>
	<input type="password" name="[post]password" placeholder="Password"><br>
	<input type="submit">
</form>
<p>New to the site?</p>
<a href="/register">Click here to register</a>

